.cardWrapper {
    position: relative;
    width: 100%;
    cursor: pointer;
    background-color: #fff;
}
.badgeWrapper {
    position: absolute;
    background-color: #fff;
    top: -8px;
    z-index: 10;
    right: 5px;
    width: 25px;
    height: 25px;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nameWrapper {
    margin-left: 10px;
}
.name {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
}
.symbol {
    font-size: 10px;
    line-height: 13px;
    color: #6C757D;

}
.priceWrapper {
    width: 200px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: right;
}
.priceName {
    color: #6C757D;
    font-size: 12px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    &Price {
        padding-top: 0.15em;
        margin-right: 10px;
    }
}

.priceValue {
    margin-left: auto;
    font-weight: bold;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}
select {
    outline: none;
    appearance: none;
    background-color: transparent;
    border: none;
    padding: 0 1em 0 0;
    margin: 0;
    width: 100%;
    font-family: inherit;
    font-size: inherit;
    cursor: inherit;
    line-height: inherit;
}

select::-ms-expand {
    display: none;
}
.select {
    width: 100%;
    min-width: 15ch;
    max-width: 30ch;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-radius: 0.25em;
    padding: 0.25em 0.5em;
    /*font-size: 1.25rem;*/
    cursor: pointer;
    line-height: 1.1;
    background-color: #fff;
    background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}
