.cardWrapper {
    position: relative;
    width: 100%;
    cursor: pointer;
    background-color: #fff;
}
.likeWrapper {
    margin-left: 15px;
}

.flexContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.description {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nameWrapper {
    margin-left: 10px;
}
.name {
    font-size: 16px;
    line-height: 20px;
    margin-bottom: 5px;
}
.symbol {
    font-size: 10px;
    line-height: 13px;
    color: #6C757D;

}
.priceWrapper {
    max-width: 100px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}
.priceName {
    color: #6C757D;
    font-size: 12px;
}

.priceValue {
    font-weight: bold;
}
